.gapmap-container {margin: 0;}
.gapmap-table {margin: 3rem 0 1rem 0;}
.gapmap-table tr {height: 40px;}
.gapmap-table tbody td, .gapmap-table thead th {padding: .4rem;max-width: 180px;font-size: .75rem;vertical-align: middle;}
.gapmap-table thead th:first-child {/*background-image: linear-gradient( to top right, transparent 49%, #ddd, transparent 51% );*/position: relative;}
.gapmap-table thead th:first-child .top-right {position: absolute;top: 6px;right: .7rem;}
.gapmap-table thead th:first-child .bottom-left {position: absolute;bottom: 12px;left: .3rem;}
.gapmap-table thead th:not(:first-child) {font-weight: normal}
.gapmap-table td:not(:first-of-type), .gapmap-table th:not(:first-of-type) {text-align: center;}
.gapmap-table tr:last-of-type td {border-bottom: 1px solid #dee2e6;}
.gapmap-table td div {display: flex;justify-content: center;}
.gapmap-table .grayed-cell {background-color: #eee;opacity: 0.7;}

.gapmap-table .gapmap-dot, .gapmap-dot-legend {display: block;border: 1px solid;border-radius: 50%;margin: 0;}
.gapmap-table .gapmap-dot:hover {border: 2px solid;}
.gapmap-table .gapmap-dot.gapmap-dot-red, .gapmap-dot-legend.gapmap-dot-red {border-color: var(--gapmap-red);background-color: var(--gapmap-background-red);}
.gapmap-table .gapmap-dot.gapmap-dot-red:hover {box-shadow: 0 0 0 4px var(--gapmap-hover-red);}

.gapmap-table .gapmap-dot.gapmap-dot-blue, .gapmap-dot-legend.gapmap-dot-blue {border-color: var(--gapmap-blue);background-color: var(--gapmap-background-blue);}
.gapmap-table .gapmap-dot.gapmap-dot-blue:hover {box-shadow: 0 0 0 4px var(--gapmap-hover-blue);}

.gapmap-table .gapmap-dot.gapmap-dot-grey, .gapmap-dot-legend.gapmap-dot-grey {border-color: var(--gapmap-grey);background-color: var(--gapmap-background-grey);}
.gapmap-table .gapmap-dot.gapmap-dot-grey:hover {box-shadow: 0 0 0 4px var(--gapmap-hover-grey);}

.gapmap-table .gapmap-dot.gapmap-dot-green, .gapmap-dot-legend.gapmap-dot-green {border-color: var(--gapmap-green);background-color: var(--gapmap-background-green);}
.gapmap-table .gapmap-dot.gapmap-dot-green:hover {box-shadow: 0 0 0 4px var(--gapmap-hover-green);}

.gapmap-table .gapmap-dot.gapmap-dot-yellow, .gapmap-dot-legend.gapmap-dot-yellow {border-color: var(--gapmap-yellow);background-color: var(--gapmap-background-yellow);}
.gapmap-table .gapmap-dot.gapmap-dot-yellow:hover {box-shadow: 0 0 0 4px var(--gapmap-hover-yellow);}

.gapmap-legend {margin: 20px auto 60px auto;}
.gapmap-legend .col {display: flex;align-items: center;}
.gapmap-legend .gapmap-dot-legend {margin-left: auto;}
.gapmap-legend .gapmap-info {margin-right: auto;margin-left: 5px;font-size: .8rem;}

.jBox-container .tooltip-title {display: flex;margin-bottom: 10px;}
.jBox-container .tooltip-title h5 {margin: auto 0;}
.jBox-container .tooltip-title span {margin: auto 10px auto 0;display: block;padding: 2px 10px;text-align: center;border-radius: 8px;font-weight: bold;color: #fff;}

.jBox-container .tooltip-body ul li {font-size: 12px;margin-bottom: 5px;}
.jBox-container .tooltip-body ul li a {text-decoration: none;color: #4079b6;}

.jBox-gapmap-dot-red .jBox-container {box-shadow: 0 0 3px var(--gapmap-red);}
.jBox-gapmap-dot-red .jBox-container .tooltip-title h5 {color: var(--gapmap-red);}
.jBox-gapmap-dot-red .jBox-container .tooltip-title span {background-color: var(--gapmap-red);}

.jBox-gapmap-dot-blue .jBox-container {box-shadow: 0 0 3px var(--gapmap-blue);}
.jBox-gapmap-dot-blue .jBox-container .tooltip-title h5 {color: var(--gapmap-blue);}
.jBox-gapmap-dot-blue .jBox-container .tooltip-title span {background-color: var(--gapmap-blue);}

.jBox-gapmap-dot-grey .jBox-container {box-shadow: 0 0 3px var(--gapmap-grey);}
.jBox-gapmap-dot-grey .jBox-container .tooltip-title h5 {color: var(--gapmap-grey);}
.jBox-gapmap-dot-grey .jBox-container .tooltip-title span {background-color: var(--gapmap-grey);}

.jBox-gapmap-dot-green .jBox-container {box-shadow: 0 0 3px var(--gapmap-green);}
.jBox-gapmap-dot-green .jBox-container .tooltip-title h5 {color: var(--gapmap-green);}
.jBox-gapmap-dot-green .jBox-container .tooltip-title span {background-color: var(--gapmap-green);}

.jBox-gapmap-dot-yellow .jBox-container {box-shadow: 0 0 3px var(--gapmap-yellow);}
.jBox-gapmap-dot-yellow .jBox-container .tooltip-title h5 {color: var(--gapmap-yellow);}
.jBox-gapmap-dot-yellow .jBox-container .tooltip-title span {background-color: var(--gapmap-yellow);}

@media (min-width: 992px) {
    .gapmap-legend {
        max-width: 50%;
    }
}