.modal-open .modal {overflow-y: scroll;}

.modal .modal-dialog {max-width: 1000px;min-width: 650px;width: 60%;}
.modal .modal-dialog .modal-header {padding: 10px;}
.modal .modal-dialog .modal-header .close {padding: 0;margin: 0 1rem;}
.modal .modal-dialog .modal-header .modal-title .modal-tab {margin: 2px 10px 0px 5px;padding-bottom: 13px;cursor: pointer;font-size: 13px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 500;}
.modal .modal-dialog .modal-header .modal-title .modal-tab:hover, .modal .modal-dialog .modal-header .modal-title .modal-active-tab {border-bottom: 1px solid var(--main-bright-blue);}
.modal .modal-dialog .modal-header .modal-title .modal-active-tab {font-weight: bold;}

.modal .modal-dialog .modal-body label {margin-bottom: 0;width: 100%;}
.modal .modal-dialog .modal-body .row {padding-bottom: 10px;}
.modal .modal-dialog .modal-body .container {padding: 0;max-width: 100%;}
.modal .modal-dialog .modal-body .card {margin-bottom: 15px;}
.modal .modal-dialog .modal-body .card-header {display: flex;justify-content: space-between;padding-right: .4rem;}
.modal .modal-dialog .modal-body .card-body {padding: 1rem;}
.modal .modal-dialog .modal-body .card-main {background-color: #f0f8ff;}
.modal .modal-dialog .modal-body .modal-drag {display: block;background-image: url('/img/drag.svg');background-repeat: no-repeat;background-size: 15px;background-position: center;cursor: grab;width: 25px;height: 25px;}
.modal .modal-dialog .modal-body .modal-intervention-title, .modal .modal-dialog .modal-body .modal-outcome-title {padding-left: 2px;padding-right: 4px;}
.modal .modal-dialog .modal-body .modal-required, .modal .modal-dialog .modal-body .modal-span-title {display: block;margin-bottom: 4px;font-size: 12px;font-weight: bold;}
.modal .modal-dialog .modal-body .modal-required::after {content:"*";color:red;}
.modal .modal-dialog .modal-body .modal-attachment {display: flex;}
.modal .modal-dialog .modal-body .modal-attachment .btn-file {width: 150px;border-top-right-radius: 0;border-bottom-right-radius: 0;padding: 4px 12px;color: #333;background-color: #fff;border-color: #ccc;font-size: 12px;height: 30px;}
.modal .modal-dialog .modal-body .modal-attachment .btn-file:hover {color: #fff;background-color: var(--main-dark-blue);}
.modal .modal-dialog .modal-body .modal-attachment .attachment-filename {flex-grow: 1;position: relative;border-top-left-radius: 0;border-bottom-left-radius: 0;border-left: none;}
.modal .modal-dialog .modal-body .modal-attachment .attachment-filename input {background-color: transparent;border: none;height: 22px;padding: 0;width: 95%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}

.modal .modal-dialog .modal-body .remove-document {position: absolute;left: 95%;top: 7px;cursor: pointer;}
.modal .modal-dialog .modal-body .remove-document::before {content: url('/img/cancel.svg');}
.modal .modal-dialog .modal-body .remove-country::before {content: url('/img/remove.svg');}
.modal .modal-dialog .modal-body .delete-resource-button::before {content: url('/img/delete.svg');}

.modal .modal-dialog .modal-body .ql-toolbar.ql-snow {border: none;padding: 5px 0;}
.modal .modal-dialog .modal-body .ql-toolbar.ql-snow + .ql-container.ql-snow {background-color: #fff;border: 1px solid #ccc;border-radius: 4px;}
.modal .modal-dialog .modal-body .ql-editor {min-height: 90px;font-size: 12px;}
.modal .modal-dialog .modal-body .ql-editor.ql-blank::before {color: #6c757d;font-style: normal;font-size: 12px;}

.modal .modal-dialog .modal-body .add-resource-button-container {text-align: right;margin-bottom: 15px;}
.modal .modal-dialog .modal-body .delete-resource-button-container {text-align: right;}
.modal .modal-dialog .modal-body .add-resource-button, .modal .modal-dialog .modal-body .delete-resource-button {width: 50px;height: 25px;outline: none;padding: 4px 8px;font-size: 11px;border: 1px solid #ddd;border-radius: 20px;background: linear-gradient(#ffffff, #e7e7e7);}

.modal .modal-dialog .modal-footer {justify-content: space-between;}