<div class="card card-body card-main">
    <div class="row">
        <div class="col">
            <span class="modal-required">Insert Project Title</span>
            <div>
                <input type="text" class="form-control form-resource modal-project-title" placeholder="Insert Project Title" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <span class="modal-required">Intervention/Outcome</span>
            <div>
                <input type="text" class="form-control form-resource modal-project-intout" placeholder="Insert Intervention and Outcome" autocomplete="off">
            </div>
        </div>
        <div class="col-4">
            <span class="modal-required">Region</span>
            <div>
                <input type="text" class="form-control form-resource modal-project-region" placeholder="Insert Region" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="modal-required">Project Status</span>
            <div>
                <select class="form-control modal-project-status">
                    {{#each status}}
                    <option value="{{@index}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col">
            <span class="modal-required">Originator</span>
            <div>
                <input type="text" class="form-control form-resource modal-project-originator" placeholder="Insert Originator" autocomplete="off">
            </div>
        </div>
    </div>
</div>