<div class="container" id="modal-add">                
    <div class="row">
        <div class="col">
            <span class="modal-required">Upload Document</span>
            <div class="modal-attachment">
                <label class="btn btn-default btn-file">Browse<input id="attachment-fileinput" type="file" class="vanish"></label>
                <div class="form-control attachment-filename" disabled="disabled">
                    <input id="attachment-filetitle" type="text" disabled="disabled">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="modal-required">Insert a Document Title</span>
            <div>
                <input id="attachment-title" type="text" class="form-control" placeholder="Insert Document Title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>
                <span class="modal-span-title">Evidence</span>
                <div class="form-select" id="modal-evidence">
                    <select>
                        <option>External</option>
                        <option>Internal</option>
                    </select>
                </div>
            </label>
        </div>
        {{#if languages}}
        <div class="col">
            <label>
                <span class="modal-span-title">Language</span>
                <div class="form-select" id="modal-language">
                    <select>
                        {{#each languages}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </label>
        </div>
        {{/if}}
        {{#if regions}}
        <div class="col">
            <label>
                <span class="modal-span-title">Region</span>
                <div class="form-select" id="modal-region">
                    <select>
                        {{#each regions}}
                        <option>{{{this}}}</option>
                        {{/each}}
                    </select>
                </div>
            </label>
        </div>
        {{/if}}
        {{#if countries}}
        <div class="col-6">
            <label>
                <span class="modal-required">Country</span>
                <div id="modal-country"></div>
            </label>
        </div>
        {{/if}}
    </div>
    <div class="row">
        <div class="col">
            <label>
                <span class="modal-required">Date</span>
                <input class="form-control" id="modal-datepicker" placeholder="Select a date">
            </label>
        </div>
        <div class="col col-40">
            <label>
                <span class="modal-required">Author</span>
                <input type="text" class="form-control" id="modal-author" placeholder="Insert the Author">
            </label>
        </div>
        <div class="col col-40">
            <label>
                <span class="modal-required">Study type</span>
                <input class="form-control" id="modal-study" placeholder="Insert a study type">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>
                <span class="modal-required">Target Population</span>
                <input class="form-control" id="modal-population" placeholder="Insert the target population">
            </label>
        </div>
        <div class="col">
            <label>
                <span class="modal-required">Estimators</span>
                <input class="form-control" id="modal-estimators" placeholder="Insert the estimators">
            </label>
        </div>
        <div class="col col-40">
            <label>
                <span class="modal-required">Outcome Metrics Used</span>
                <input class="form-control" id="modal-metrics" placeholder="Insert the outcome metrics used">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>
                <span class="modal-span-title">Control / Treated Sample</span>
                <div class="form-select" id="modal-control">
                    <select>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </label>
        </div>
        {{#if interventions}}
        <div class="col-8">
            <label>
                <span class="modal-span-title">Intervention</span>
                <div class="form-select" id="modal-intervention">
                    <select>
                        {{#each interventions}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </label>
        </div>
        {{/if}}
    </div>
    {{#if outcomes}}
    <div class="row">
        <div class="col">
            <label>
                <span class="modal-span-title">Outcome</span>
                <div class="form-select" id="modal-outcome">
                    <select>
                        {{#each outcomes}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </label>
        </div>
    </div>
    <div>
        <div class="text-editor">
            <div id="editor"></div>
            <div id="counter"></div>
        </div>
    </div>
    {{/if}}
</div>