<div class="col">
    <span class="gapmap-dot-legend gapmap-dot-green" style="width: 12px;height: 12px;"></span>
    <span class="gapmap-info">Positive</span>
</div>
<div class="col">
    <span class="gapmap-dot-legend gapmap-dot-yellow" style="width: 12px;height: 12px;"></span>
    <span class="gapmap-info">Mixed</span>
</div>
<div class="col">
    <span class="gapmap-dot-legend gapmap-dot-red" style="width: 12px;height: 12px;"></span>
    <span class="gapmap-info">Negative</span>
</div>