<div class="card card-body card-main">
    <div class="row">
        <div class="col">
            <span class="modal-span-title">Upload Document</span>
            <div class="modal-attachment">
                <label class="btn btn-default btn-file">Browse<input type="file" class="attachment-fileinput vanish"></label>
                <div class="form-control attachment-filename" disabled="disabled">
                    <input class="attachment-filetitle" type="text" disabled="disabled">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="modal-required">Insert Document Title</span>
            <div>
                <input type="text" class="form-control form-resource attachment-title" placeholder="Insert Document Title" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        {{#if evidence}}
        <div class="col col-14">
            <label>
                <span class="modal-span-title">Evidence</span>
                <div class="modal-evidence">
                    <select class="form-control">
                        {{#each evidence}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </label>
        </div>
        {{/if}}
        {{#if languages}}
        <div class="col col-14">
            <label>
                <span class="modal-span-title">Language</span>
                <div class="modal-language">
                    <select class="form-control">
                        {{#each languages}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </label>
        </div>
        {{/if}}
        <div class="col col-14">
            <label>
                <span class="modal-span-title">Date</span>
                <input class="form-control form-resource modal-datepicker" placeholder="Select a date" autocomplete="off">
            </label>
        </div>
        <div class="col-3">
            <label>
                <span class="modal-span-title">Author</span>
                <input type="text" class="form-control form-resource modal-author" placeholder="Insert the Author" autocomplete="off">
            </label>
        </div>
        <div class="col">
            <label>
                <span class="modal-span-title">Study type</span>
                <input class="form-control form-resource modal-study" placeholder="Insert a study type" autocomplete="off">
            </label>
        </div>
    </div>
</div>
<div class="add-resource-button-container">
    <button class="add-resource-button">Add +</button>
</div>
<div class="intervention-outcome-container"></div>