<div class="row">
    <div class="col">
        <span class="modal-required">Upload Document</span>
        <div class="modal-attachment">
            <label class="btn btn-default btn-file">Browse<input type="file" class="attachment-fileinput vanish"></label>
            <div class="form-control attachment-filename" disabled="disabled">
                <input class="attachment-filetitle" type="text" disabled="disabled">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <span class="modal-required">Insert a Document Title</span>
        <div>
            <input type="text" class="form-control attachment-title" placeholder="Insert Document Title" autocomplete="off">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <label>
            <span class="modal-span-title">Evidence</span>
            <div class="form-select modal-evidence">
                <select>
                    <option>External</option>
                    <option>Internal</option>
                </select>
            </div>
        </label>
    </div>
    {{#if languages}}
    <div class="col">
        <label>
            <span class="modal-span-title">Language</span>
            <div class="form-select modal-language">
                <select>
                    {{#each languages}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </label>
    </div>
    {{/if}}
    {{#if regions}}
    <div class="col">
        <label>
            <span class="modal-span-title">Region</span>
            <div class="form-select modal-region">
                <select>
                    {{#each regions}}
                    <option>{{{this}}}</option>
                    {{/each}}
                </select>
            </div>
        </label>
    </div>
    {{/if}}
    {{#if countries}}
    <div class="col-6">
        <label>
            <span class="modal-required">Country</span>
            <div class="modal-country"></div>
        </label>
    </div>
    {{/if}}
</div>
<div class="row">
    <div class="col">
        <label>
            <span class="modal-required">Date</span>
            <input class="form-control modal-datepicker" placeholder="Select a date" autocomplete="off">
        </label>
    </div>
    <div class="col col-40">
        <label>
            <span class="modal-required">Author</span>
            <input type="text" class="form-control modal-author" placeholder="Insert the Author" autocomplete="off">
        </label>
    </div>
    <div class="col col-40">
        <label>
            <span class="modal-required">Study type</span>
            <input class="form-control modal-study" placeholder="Insert a study type" autocomplete="off">
        </label>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <label>
            <span class="modal-required">Target Population</span>
            <input class="form-control modal-population" placeholder="Insert the target population" autocomplete="off">
        </label>
    </div>
    <div class="col">
        <label>
            <span class="modal-required">Estimators</span>
            <input class="form-control modal-estimators" placeholder="Insert the estimators" autocomplete="off">
        </label>
    </div>
    <div class="col col-40">
        <label>
            <span class="modal-required">Outcome Metrics Used</span>
            <input class="form-control modal-metrics" placeholder="Insert the outcome metrics used" autocomplete="off">
        </label>
    </div>
</div>
<div class="row">
    <div class="col">
        <label>
            <span class="modal-span-title">Control / Treated Sample</span>
            <div class="form-select modal-control">
                <select>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </label>
    </div>
    {{#if interventions}}
    <div class="col-8">
        <label>
            <span class="modal-span-title">Intervention</span>
            <div class="form-select modal-intervention">
                <select>
                    {{#each interventions}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </label>
    </div>
    {{/if}}
</div>
{{#if outcomes}}
<div class="row">
    <div class="col">
        <label>
            <span class="modal-span-title">Outcome</span>
            <div class="form-select modal-outcome">
                <select>
                    {{#each outcomes}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </label>
    </div>
</div>
<div>
    <div class="text-editor">
        <div class="editor"></div>
        <div class="counter"></div>
    </div>
</div>
{{/if}}