<div class="col">
    <span class="gapmap-dot-legend gapmap-dot-red" style="width: 12px;height: 12px;"></span>
    <span class="gapmap-info">Systematic Reviews</span>
</div>
<div class="col">
    <span class="gapmap-dot-legend gapmap-dot-blue" style="width: 12px;height: 12px;"></span>
    <span class="gapmap-info">Impact Evaluations</span>
</div>
<div class="col">
    <span class="gapmap-dot-legend gapmap-dot-grey" style="width: 12px;height: 12px;"></span>
    <span class="gapmap-info">Other</span>
</div>