<div class="container">
    <div class="row">
        <table class="gapmap-table table">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0 border-right border-bottom-0">
                        <div class="top-right">Outcomes</div>
                        <div class="bottom-left">Interventions</div>
                    </th>
                    {{#each outcomes}}
                    <th scope="col" class="border-top-0 border-right border-bottom-0">{{this.Title}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each interventions}}
                <tr>
                    <td scope="row" class="border-right">{{this.Title}}</td>
                    {{#each ../outcomes}}
                    {{{filterData @../index @index}}}
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="gapmap-legend row">
        {{#isEqual view 0}}
            {{> studyViewLegend}}
        {{/isEqual}}
        {{#isEqual view 1}}
            {{> impactViewLegend}}
        {{/isEqual}}
    </div>
</div>