<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar">
    <img class="navbar-logo" src="img/ifad.svg">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link settings-link" data-toggle="modal" data-target="#settingsMenu"><img src="img/cogs.svg"></a>
            </li>
        </ul>
    </div>
</nav>