<h6 class="chart-title">Knowledge Product Updates</h6>
<ul class="chart-pipeline">
    <li>
        <span id="chart-percentage-1"></span>
        <span id="chart-label-1"></span>
    </li>
    <li>
        <span id="chart-percentage-2"></span>
        <span id="chart-label-2"></span>
    </li>
    <li>
        <span id="chart-percentage-3"></span>
        <span id="chart-label-3"></span>
    </li>
    <li>
        <span id="chart-percentage-4"></span>
        <span id="chart-label-4"></span>
    </li>
</ul>
<div id="pipeline-projects" class="container">
    {{> pipelineProjects}}
</div>