<div class="modal fade" id="settingsMenu" tabindex="-1" role="dialog" aria-labelledby="settingsMenuLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <span class="modal-tab modal-active-tab" data-tab="1">Add Resource</span>
                    <span class="modal-tab" data-tab="2">Edit Resource</span>
                    <span class="modal-tab" data-tab="3">Add Project</span>
                    <span class="modal-tab" data-tab="4">Edit Project</span>
                    <span class="modal-tab" data-tab="5">Set Parameters</span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-add" class="container">
                    {{> resourceForm}}
                </div>
                <div id="modal-edit" class="container vanish">
                    <div class="row">
                        <div class="col">
                            <div class="modal-select-item"></div>
                        </div>
                    </div>
                    <div id="edit-resource" class="vanish">
                        {{> resourceForm}}
                    </div>
                </div>
                <div id="modal-project-add" class="container vanish">
                    {{> addProject}}
                </div>
                <div id="modal-project-edit" class="container vanish">
                    <div class="row">
                        <div class="col">
                            <div class="modal-select-project"></div>
                        </div>
                    </div>
                    <div id="edit-project" class="vanish">
                        {{> addProject}}
                    </div>
                </div>
                <div id="modal-modify" class="container vanish">
                    {{> modifyParameters}}
                </div>
            </div>
            <div class="modal-footer">
                <div class="invisible hidden">
                    <button type="button" id="remove-resource" class="btn btn-primary">Delete Resource</button>
                </div>
                <div>
                    <button type="button" id="close-modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="save-changes" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>