<div class="modal fade" id="settingsMenu" tabindex="-1" role="dialog" aria-labelledby="settingsMenuLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <span class="modal-tab modal-active-tab" data-tab="1">Add Resource</span>
                    <span class="modal-tab" data-tab="2">Edit Resource</span>
                    <span class="modal-tab" data-tab="3">Set Parameters</span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {{> addResource}}
                {{> editResource}}
                {{> modifyParameters}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-resource" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>